<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express-Assignment</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/express_assignment.css">
</head>

<body>
  <div class="container">
    <div class="header">
      <a href="/"><button type="button" class="host btn btn-secondary">回到首頁</button></a>
      <div class="buttons">
        <a href="/About"><button type="button" id="btn" class="btn btn-secondary">About</button></a>
        <a href="/Portfolio"><button type="button" id="btn" class="btn btn-secondary">Portfolio</button></a>
        <a href="Contact"><button type="button" id="btn" class="btn btn-secondary">Contact</button></a>
      </div>
    </div>
    {{{body}}}
  </div>
  
  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/popper.js.map"></script>
</body>
</html>