.container {
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-weight: 400;
  font-size: 80px;
  color: darkorange;
  border-bottom: 2px solid red;
}

.content {
  padding-top: 250px;
  text-align: center;
}

